@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Share+Tech+Mono&display=swap");

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* VARIABLES */

:root {
    font-family: "Share Tech Mono", sans-serif;
    font-size: 20px;

    --PLANET-RED: #a70c1c;
    --PLANET-YELLOW: #f8fdbe;
    --PLANET-GREEN: #7ff7ec;

    --PLANET-LIGHT-RED: #fc7583;
    --PLANET-LIGHT-GREEN: #9ff8f1;

    --PLANET-DARK-YELLOW: #c4b308;
}

/* BLOCKS */

html::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
}

.navbar {
    z-index:100;
    position: sticky;
    top: 0;
    background-color: var(--PLANET-GREEN);
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid var(--PLANET-RED);
    box-shadow: var(--PLANET-LIGHT-RED) 2px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home, .register {
    background-position: bottom right;
}

.login{
    background-position: bottom;
}

.page-header{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 200px;
    height: 23vh;
    width: 8rem;
    background-color: var(--PLANET-YELLOW);
    display: flex;
    text-align: center;
    align-items: end;
    box-shadow: var(--PLANET-LIGHT-RED) 2px 3px;
    border: 2px solid var(--PLANET-RED);
    border-radius: 30px;
}

.page-header-container{
    position: relative;
    top: 0;
    left: 0;
}

.user-profile-header{
    position: absolute;
    top: 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.side-content-container{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 350px;
    width: 25%;
    background-color: var(--PLANET-YELLOW);
    border-right: 3px solid var(--PLANET-RED);
    box-shadow: var(--PLANET-LIGHT-RED) 5px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.main-content-container{
    position: absolute;
    top: 0;
    right: 0;
    max-width: calc(100vw - 350px);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.books-list-container,
.transactions-list-container{
    position: relative;
    top: 10vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.transactions-list-container{
    justify-content: space-around;
    padding-bottom: 30px;
}

.message-container{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    height: 2rem;
}

.empty-list{
    display: flex;
    width: 50%;
    max-width: 400px;
    height: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--PLANET-YELLOW);
    border: 3px solid var(--PLANET-RED);
    border-radius: 8px;
    box-shadow: var(--PLANET-LIGHT-RED) 4px 4px;
    justify-content: center;
    align-items: center;
}

.signup-form,
.login-form,
.search-form,
.rate-user-form{
    align-items: center;
    background-color: var(--PLANET-GREEN);
    border-radius: 10px;
    border: solid var(--PLANET-RED) 3px;
    box-shadow: var(--PLANET-LIGHT-RED) 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-around;
    left: 50%;
    max-height: 600px;
    max-width: 400px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.login-form {
    max-height: 400px;
    height: 100%;
}

.search-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
    max-width: 800px;
    margin: 50px 0 0 50px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    justify-content: center;
}

.rate-user-form{
    max-height: 450px;
    max-width: 350px;
    height: 100%;
    width: 100%;
    z-index: 10000;
    box-shadow: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.show-rate-user-form .rate-user-form{
    opacity: 1;
    transition: all 0.2s ease;
    pointer-events: auto;
}

.inline-form-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.pagination-buttons-container{
    list-style: none;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.text-box{
    background-color: var(--PLANET-YELLOW);
    border: solid var(--PLANET-RED) 3px;
    border-radius: 8px;
    box-shadow: var(--PLANET-LIGHT-RED) 4px 4px;
    position: fixed;
    top: 200px;
    right: 50px;
    width: 450px;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: start;
    padding: 8px;
}

/* ELEMENTS */

/* GENERAL */

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 2.5rem;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.previous-btn, .next-btn{
    max-width: 200px;
    width: 50%;
    height: 100%;
    margin: 40px;
}

/* HEADER */

/* LOGO */
.logo-figure {
    width: 20%;
    height: 100%;
    padding-left: 10px;
}

.logo {
    width: 40%;
    margin-top: 10px;
    height: auto;
}

/* NAVBAR */

.nav-elements-list {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-el {
    margin: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-shadow: lightgray 1px 1px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 10px;
    height: auto;
    padding-left: 20px;
}

.nav-btn {
    display: flex;
    font-family: "Share Tech Mono", sans-serif;
    font-size: 0.8rem;
    width: 6rem;
    height: 3rem;
    background-color: var(--PLANET-YELLOW);
    border: solid var(--PLANET-RED) 2px;
    border-radius: 10px;
    box-shadow: var(--PLANET-LIGHT-RED) 4px 4px;
    cursor: pointer;
    text-shadow: lightgray 1px 1px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-btn:hover{
    transform: scale(1.1);
}

/* PAGE HEADER */

.page-header p{
    margin-bottom: 10px;
}

.user-profile-header .page-header{
    position: relative;
    top: 0;
    left: unset;
    margin-right: 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 20vh;
}

.user-profile-header .page-header:hover{
    transform: translateY(10px);
    transition: all 0.2s ease;
}

.user-profile-header .page-header.left{
    position: absolute;
    left: 200px;
    top: 0;
    transform: none;
    padding-bottom: 5px;
}

.user-profile-header .page-header a{
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.user-profile-header .page-header a:hover{
    transform: scale(1,1);
    text-decoration: underline;
    color: var(--PLANET-RED);
}

/*  TEXT BOX */

.text-box ul{
    list-style: none;
    margin: 5px 0;
}

/* PROFILE INFO */

.profile-info-container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 3px;
}

.profile-image-figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.profile-info-container p{
    margin-left: 10px;
    font-size: 0.85rem;
}

.profile-image{
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    width: 80%;
    height: auto;
}

.review-buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.last-transactions{
    position: absolute;
    top: 13vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.transaction-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4rem;
    margin: 1rem 0;
    background-color: var(--PLANET-LIGHT-RED);
    border: 3px solid var(--PLANET-RED);
    border-radius: 8px;
    box-shadow: var(--PLANET-LIGHT-RED) 2px 2px;
}

.transaction-header p{
    font-size: 2rem;
}

.transaction-container{
    max-width: 1000px;
    max-height: 120px;
    width: 80%;
    height: 100%;
    background-color: var(--PLANET-YELLOW);
    border: 2px solid var(--PLANET-RED);
    box-shadow: var(--PLANET-LIGHT-RED) 5px 4px;
    border-radius: 10px;
}

.transaction-container:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.transaction-container p{

}

/* BOOKS LIST */

.books-list,
.transactions-list{
    position: absolute;
    top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.transactions-list{
    height: auto;
    position: initial;
}

.transactions-list-container h1{
    margin: 20px 0;
}

.book-list-element{
    max-height: 200px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--PLANET-GREEN);
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    box-shadow: var(--PLANET-LIGHT-RED) 6px 6px;
    margin: 5px;
}

.book-list-element:hover{
    transform: scale(1.01);
    transition: all 0.2s ease;
}

.book-image-figure,
.book-list-element .profile-image-figure{
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 180px;
    margin: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-image,
.book-list-element .profile-image-figure .profile-image{
    width: 45%;
    height: auto;
    border: 2px solid var(--PLANET-RED);
    border-radius: 5px;
    box-shadow: var(--PLANET-LIGHT-RED) 3px 3px;
}

.book-list-element .profile-image-figure .profile-image{
    width: 60%;
}

.book-info-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.book-actions-container{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
}

/* FORM */

.inline-form{
    width: 100%;
    max-width: 80px;
    height: 50%;
    max-height: 2rem;
    margin-left: 8px;
    margin-bottom: 12px;
}

.signup-form .form-header,
.login-form .form-header,
.search-form .form-header,
.rate-user-form .form-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

.rate-user-form .form-header{
    margin-top: 8px;
    height: 80px;
}

.signup-form .form-header p,
.login-form .form-header p,
.search-form .form-header p,
.rate-user-form .form-header p{
    display: flex;
    padding: 5px;
    font-size: 30px;
    background-color: var(--PLANET-LIGHT-RED);
    border: solid var(--PLANET-RED);
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.rate-user-form .form-header p{
    font-size: 1rem;
}

.login-form .form-header p {
    padding: 10px;
}

.close-form-btn {
    max-width: 60px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    background-color: var(--PLANET-LIGHT-RED);
    background-size: cover;
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    cursor: pointer;
}

.form-fields{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-rows: 47.5% 47.5%;
    row-gap: 0;
    background-color: var(--PLANET-GREEN);
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;
}

.rate-user-form .form-fields{
    border: none;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 15px;
}

.form-fields-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-user-form .form-fields-row{
    height: 100%;
    width: 100%;
}

.rate-user-form .stars-field{
    max-height: 75px;
}

.form-field {
    width: 80%;
    border: solid var(--PLANET-RED) 2px;
    background-color: var(--PLANET-YELLOW);
    border-radius: 5px;
}

.rate-user-form .form-field{
    width: 100%;
    max-height: 200px;
    height: 100%;
}

.inline-form .form-field{
    height: 1%;
    width: 100%;
}

.search-form .form-field{
    width: 100%;
    height: 100%;
    max-height: 4rem;
    margin: 10px;
}

.form-label {
    display: block;
    margin-bottom: 2px;
    width: 100%;
    padding: 6px;
}

.inline-form .form-label{
    padding: 0;
    text-align: center;
}

.rate-user-form .form-label{
    height: 30px;
}

.form-input {
    font-family: "Share Tech Mono", sans-serif;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-style: none;
    border-top: 1px solid var(--PLANET-RED);
    outline: none;
    font-size: 16px;
    padding: 0 8px;
}

.rate-user-form .comment-input{
    width: 100%;
    height: calc(100% - 30px);
}

.rate-user-form textarea{
    padding:8px;
    line-height: 1.1rem;
}

textarea::-webkit-scrollbar{
    display: none;
}

.inline-form .form-input{
    height: 25px;
    text-align: center;
}

.form-select{
    width: 100%;
    background-color: transparent;
    height: 100%;
    font-family: "Share Tech Mono", sans-serif;
    font-size: 0.8rem;
}

.form-btn {
    position: relative;
    font-family: "Share Tech Mono", sans-serif;
    font-size: 1rem;
    width: 50%;
    height: 2.5rem;
    background-color: var(--PLANET-LIGHT-RED);
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    cursor: pointer;
}

.rate-user-form .form-btn{
    margin-bottom: 10px;
}

.form-btn:hover,
.close-form-btn:hover {
    box-shadow: var(--PLANET-LIGHT-RED) 3px 3px;
    transform: scale(1.1);
    transition: all 0.1s ease;
}

.form-footer {
    display: inline;
    padding-bottom: 10px;
    font-size: 0.8rem;
    height: 1rem;
    width: 100%;
    text-align: center;
}

.form-footer a {
    text-decoration: none;
    color: var(--PLANET-RED);
}

.form-footer a:hover {
    text-decoration: underline;
}

.form-error{
    color: red;
    font-size: 0.8rem;
    width: 100%;
    padding: 1px 20%;
    text-align: center;
}

.rate-user-form .form-error{
    padding: 1px 8px;
    font-size: 0.7rem;
}

/* OTHER */

.swap-image-figure{
    display: flex;
    width: 10%;
    max-width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.swap-image{
    width: 100%;
    height: auto;
}

.first-book,
.second-book{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 8px;
}

.first-book .book-info-container,
.second-book .book-info-container{
    text-align: left;
}

/* MODIFIERS */

/* GENERAL */

.text-error{
    color: red;
    text-decoration: underline;
}

.text-success{
    color: green;
    text-decoration: underline;
}

.margin-top-lg{
    margin-top: 120px;
}

.margin-top-md{
    margin-top: 60px;
}

.margin-top-tw{
    margin-top: 20px;
}

.margin-top-sm{
    margin-top: 8px;
}

.width-max{
    width: 100%;
}

.max-height-lg{
    max-height: 250px;
}

.padding-y-sm{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-right-sm{
    padding-right: 10px;
}

.no-top{
    top: 0;
}

.flex-col-no-wrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.flex-col-wrap{
    flex-flow: column wrap;
}

.justify-text{
    text-align: justify;
}

.justify-space-around{
    justify-content: space-around;
}

.actions-small{
    width: 25%;
}
/* BUTTON */

.button-primary{
    background-color: var(--PLANET-LIGHT-RED);
    border: 3px solid var(--PLANET-RED);
    border-radius: 10px;
    cursor: pointer;
}

.button-primary:hover{
    box-shadow: var(--PLANET-LIGHT-RED) 3px 3px;
    transform: scale(1.1);
    transition: all 0.1s ease;
}

/* FORM */

.with-select{
    grid-template-rows: 40% 40% 15%;
}

/* RESPONSIVE */

@media screen and (min-width: 1529px) {
    .signup-form {
        margin-top: 0;
    }
}

@media screen and (min-width: 1528px) {
    .signup-form {
        margin-top: 30px;
    }
}
